/* J'ai aprris tout mon css par w3 schools*/
  h1   {color: #000000;}
  p    {color: #000000;}
  img { border-radius: 60px;}
  h1  {font-family: Kanit;}
  body {background-color: #99ebff}
  body  {font-family: Kanit;}
  
